.postcards {
    padding: 140px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    width: 25%;
}

@media (max-width:1199px) and (min-width:800px) {
    .column {
      width: 33%;
    }
}

@media (max-width:799px) and (min-width:600px) {
    .column {
      width: 50%;
    }
}

@media (max-width:599px) {
    .column {
      width: 100%;
    }
}