.background {
  overflow: hidden;
  position: fixed;
  top: -500px;
  padding-top: 500px;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaded {
  overflow: hidden;
  position: fixed;
  top: -500px;
  padding-top: 500px;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-120vh);
  transition: 0.8s cubic-bezier(.39,-0.36,1,.15);
}

.container {
  width: 200px;
}
.streams {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.stream1, .stream2, .stream3 {
  opacity: 0;
  background-color: white;
  border-radius: 5px;
  height: 80px;
  width: 5px;
  animation: trail 1s linear infinite;
  position: relative;
} 
.stream1 {
    animation-delay: 150ms;
    transform: translateY(-50px);
}
.stream2 {
    animation-delay: 350ms;
}
.stream3 {
    animation-delay: 250ms;
    transform: translateY(-50px);
}
.plane {
  animation: plane 2s linear infinite;
}

@keyframes trail {
  0% {
    top: -80px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}

@keyframes plane {
  0% {transform: scale(1);}
  50% {transform: scale(0.9);}
}



/* .ldsgrid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .ldsgrid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fcf;
    animation: lds-grid 1.2s linear infinite;
  }
  .ldsgrid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .ldsgrid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .ldsgrid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .ldsgrid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .ldsgrid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .ldsgrid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .ldsgrid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .ldsgrid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .ldsgrid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  } */
