.modalBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    background-color: rgba(0,0,0,0.7);
}

.image {
    padding: 50px auto;
    /* width: 100vw; */
    border: 30px solid white;
    border-bottom: 60px solid white;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}

.subtext {
    font-family: PlaylistCaps;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    background:white;
    margin: 0;
    transform: translateY(-40px);
    max-width: 80vw;
    height: 30px;
    text-align: center;
}

.leftButton, .rightButton {
    background: grey;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@media (max-width:1400px) {
    .imageContainer {
        max-width: 85%;
    }
}

@media (max-width:450px) {
    .imageContainer {
        margin: 100px auto;
        max-width: 80%;
    }
}