.titleBar {
    margin-top: 178px;
    position: fixed;
    width: 100%;
    background: #d0ced2;
    background-size: cover;
    background-position: bottom;
}

.overlay {
    padding: 15px 0;
    width: inherit;
    height: inherit;
    color: white;
    text-align: center;
}

.title {
    margin: 0;
    font-family: PlaylistScript;
    font-weight: normal;
    font-size: 80px;
    line-height: 110px;
    padding: 10px 0;
    text-shadow: black 0 0 5px;
}

.subtitle {
    font-family: PlaylistCaps;
    margin: 0;
    padding: 0 10px;
    font-size: 25px;
    transition: 1s all;
    text-shadow: black 0 0 5px;
}

@media (max-width:450px) {
    .title {
        font-size: 50px;
        line-height: 70px;
        padding: 5px 0 10px;
    }
    .subtitle {
        font-size: 20px;
    }
    .titleBar {
        margin-top: 94px;
        position: absolute;
    }
}

